html {
    margin: 0;
    padding: 0;
}

body {
  background-color: #333;
  color:#eee;
  font-family: sans-serif;
}

body.fullscreen {
    margin:0;
    padding:0;
    height: 100vh;
    width:100vw;
    overflow: hidden;
    background-color: #000;

}

#pxlTbl {
    opacity: 0;
    background: 50% 50% url(bg.jpg);
    background-size: cover;

    border: 1px solid #352516;
    border-radius: 4vmin;


    margin: 2vmin auto;
    position: relative;
    padding: 6vmin;

    display: inline-block;

    transition: 0.5s transform, 1s opacity;


}

.fullscreen #pxlTbl {
    position: unset;
    display: block;
    padding:0;
    margin:0;
}



#pxlTbl button {
    position: absolute;
    border-radius: 100%;

    width:4vmin;
    height: 4vmin;
    margin: 1vmin;

}

.fullscreen #pxlTbl button {
    display: none;
}


#display {

    padding: 2vmin;
    background: #000;
    border-radius: 2vmin;

}

.fullscreen #display {
    position: absolute;
    top:12px;
    left:0;
    width:100vw;
    height:100vh;
    border-radius: 0;
    padding: 0;
}

#display ul {
    list-style:none;
    margin:1px 0;
    padding:0;
    width:100%;
    height: 1.5vmin;
    line-height: 1.5vmin;
    white-space: nowrap;

}

#display li {
    list-style:none;
    margin:0 1px 0 0;
    padding:0;
    display: inline-block;
    width:1.5vmin;
    height:1.5vmin;
    background-color:#000;


}




#rotate-padding {
    height: 0;
    transition: 0.5s height;
}


[class*="push"] {
    position: relative;
    display: inline-block;
    width: 4vmin;
    height: 4vmin;
    border: 0;
    margin: 1em;
    outline: none;
    background-color: #262626;
    border-radius: 50%;
    cursor: pointer;
    transition: box-shadow 200ms;
}

.push--flat {
    box-shadow: inset 0 0.125vmin 0 #333333, inset 0 -0.125vmin 0 #1a1a1a, inset 0 0 0 0.125vmin #1f1f1f, inset 0 0 0 0.3333333333vmin #262626, inset 0 0 0 0.4vmin black, inset 0 0 0 0.4347826087vmin black, inset 0 0 0 0.5333333333vmin rgba(115, 115, 115, 0.7), inset 0 0 0 0.7272727273vmin #262626, inset 0 1.6vmin 0.5333333333vmin #1a1a1a, inset 0 0 0.4vmin 0.6666666667vmin #0d0d0d, 0 0.2vmin 0 rgba(0, 0, 0, 0.3);
}
.push--flat:after {
    content: '';
    position: absolute;
    bottom: 0.2vmin;
    left: 0.4vmin;
    display: block;
    width: 3.2vmin;
    height: 3.2vmin;
    border: 0.2666666667vmin solid rgba(0, 0, 0, 0.3);
    border-width: 0 0 0.2666666667vmin;
    border-radius: 50%;
    transition-duration: 200ms;
}
.push--flat:active, .push--flat.is-pushed {
    box-shadow: inset 0 0.125vmin 0 #333333, inset 0 -0.125vmin 0 #1a1a1a, inset 0 0 0 0.125vmin #1f1f1f, inset 0 0 0 0.3333333333vmin #262626, inset 0 0 0 0.4vmin black, inset 0 0 0 0.4705882353vmin black, inset 0 0 0 0.5333333333vmin rgba(115, 115, 115, 0.2), inset 0 0 0 0.7272727273vmin #1f1f1f, inset 0 1.6vmin 0.5333333333vmin #121212, inset 0 0 0.4vmin 0.6666666667vmin black, 0 0.2vmin 0 rgba(0, 0, 0, 0.3);
    background-color: #212121;
}
.push--flat:active:after, .push--flat.is-pushed:after {
    bottom: 0.4666666667vmin;
    border-width: 0;
}

.push--skeuo {
    box-shadow: inset 0 0.1666666667vmin 0 #333333, inset 0 -0.1666666667vmin 0.0666666667vmin #1a1a1a, 0 0 0.0666666667vmin #262626, inset 0 0 0.1333333333vmin black, inset 0 0 0.1333333333vmin rgba(102, 51, 0, 0.5), inset 0 0 0.0666666667vmin 0.3333333333vmin #262626, inset 0 -0.1333333333vmin 0.1vmin 0.4vmin rgba(102, 51, 0, 0.7), inset 0 0 0.0666666667vmin 0.4vmin black, inset 0 0 0.0666666667vmin 0.4vmin rgba(102, 51, 0, 0.7), inset 0 0 0.0333333333vmin 0.4347826087vmin black, inset 0 0 0.0333333333vmin 0.5vmin rgba(115, 115, 115, 0.7), inset 0 0.2vmin 0 0.4705882353vmin rgba(77, 77, 77, 0.7), inset 0 -0.2vmin 0.0666666667vmin 0.4705882353vmin rgba(13, 13, 13, 0.2), inset 0 0 0 0.7272727273vmin #262626, inset 0 1.6vmin 0.5333333333vmin #1a1a1a, inset 0 0 0.4vmin 0.6666666667vmin #0d0d0d, 0 0.1vmin 0.2vmin rgba(0, 0, 0, 0.5);
}
.push--skeuo:active, .push--skeuo.is-pushed {
    box-shadow: inset 0 0.1666666667vmin 0 #333333, inset 0 -0.1666666667vmin 0.0666666667vmin #1a1a1a, 0 0 0.0666666667vmin #262626, inset 0 0 0.1333333333vmin black, inset 0 0 0.1333333333vmin rgba(102, 51, 0, 0.5), inset 0 0 0.0666666667vmin 0.3333333333vmin #262626, inset 0 -0.1333333333vmin 0.1vmin 0.4vmin rgba(102, 51, 0, 0.7), inset 0 0 0.0666666667vmin 0.4vmin black, inset 0 0 0.0666666667vmin 0.4vmin rgba(102, 51, 0, 0.7), inset 0 0 0.1vmin 0.4705882353vmin black, inset 0 0 0.0333333333vmin 0.5333333333vmin rgba(115, 115, 115, 0.2), inset 0 0.2vmin 0 28px rgba(77, 77, 77, 0.5), inset 0 -0.2vmin 0.0666666667vmin 28px rgba(0, 0, 0, 0.2), inset 0 0 0 0.7272727273vmin #1f1f1f, inset 0 1.6vmin 0.5333333333vmin #121212, inset 0 0 0.4vmin 0.6666666667vmin black, 0 0.1vmin 0.2vmin rgba(0, 0, 0, 0.5);
    background-color: #212121;
}
.push--skeuo:active:before, .push--skeuo.is-pushed:before {
    opacity: .5;
}
.push--skeuo:before {
    content: '';
    position: absolute;
    bottom: 0.8888888889vmin;
    left: 1.1111111111vmin;
    display: block;
    width: 1.8181818182vmin;
    height: 1.2121212121vmin;
    background: rgba(115, 115, 115, 0.2);
    background: linear-gradient(to top, rgba(140, 140, 140, 0.3) 0%, rgba(38, 38, 38, 0.1) 100%);
    border-radius: 40% 40% 60% 60%;
    transition: opacity 200ms;
}

/* Tabs */

/* Style the tab */
.tab {
    overflow: hidden;
    //border: 1px solid #ccc;
}

.fullscreen .tab {
    display: none;
}

/* Style the buttons that are used to open the tab content */
.tab .btn {
    /*background-color: inherit;*/
    float: left;
    border: none;
    outline: none;
    border-radius: 0;
}

/* Create an active/current tablink class */
.tab .btn.active {
    background-color: #555;
}

/* Style the tab content */
.tab-content {
    display: none;
    float: left;
    overflow-y: scroll;

    height: 30vmin;
    width:61.80469715698393%;
    margin-right: 20px;
    padding: 10px 0;

    font-family: "Lucida Console";
    color:#eee;

    background: #555;

}

.fullscreen .tab-content {
    display: none;
}


#console {

    height: 30vmin;

    font-family: "Lucida Console";
    background: #555;
    color:#eee;
    overflow-y: scroll;
    padding: 10px 0;
    float: left;
    width:70%;
    margin-right: 20px;
}

#console p {
    padding:0 10px;
    margin: 0;
}

#console .error {
    color: #ff8888;
}

#stats {

}

.fullscreen #stats {
    display: none;
}
